html,
body {
    height: 100%;
    margin: 0;
}

body {
    height: auto;
}

.small {
    font-size: 80%;
}

.system-nav {
    flex-shrink: 0;
    position: relative;
    z-index: 1040;
    font-size: 80%;
}

.system-nav .dropdown-item {
    font-size: 80%;
}

.system-wrapper .container-fluid,
.system-wrapper .container {
    padding-left: 0;
    padding-right: 0;
}

.system-wrapper .card {
    padding: 0.25rem;
}

.system-wrapper .row {
    --bs-gutter-x: 0.25rem
}

.system-wrapper .row+.row {
    margin-top: 0.25rem;
}

.system-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    font-size: 80%;
    flex: 1;
}

.system-wrapper .container-fluid+.container-fluid,
.system-wrapper .container-fluid+.container,
.system-wrapper .container+.container-fluid,
.system-wrapper .container+.container {
    margin-top: 0.25rem;
}

.system-footer {
    position: relative;
    display: flex;
    align-items: flex-end;
}

/* WARNING: THIS IS A CSS FILE SO YOU NEED TO ADJUST THIS MANUALLY, I DON'T HOLD SYSTEM NAME IN CSS */
/* Poppins font family */
@font-face {
    font-family: 'Poppins';
    src: url('/qms_dashboard/static/font/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/qms_dashboard/static/font/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/qms_dashboard/static/font/poppins/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/qms_dashboard/static/font/poppins/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Space Mono (Mono) font family */
@font-face {
    font-family: 'Mono';
    src: url('/qms_dashboard/static/font/space_mono/SpaceMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Mono';
    src: url('/qms_dashboard/static/font/space_mono/SpaceMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Mono';
    src: url('/qms_dashboard/static/font/space_mono/SpaceMono-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Mono';
    src: url('/qms_dashboard/static/font/space_mono/SpaceMono-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Hook into Bootstrap 5 font system */
:root,
[data-bs-theme="light"],
[data-bs-theme="dark"] {
    --bs-font-sans-serif: 'Poppins', Arial, sans-serif;
    --bs-font-monospace: 'Mono', Consolas, monospace;
    --bs-body-font-family: var(--bs-font-sans-serif);
}


/* Navbar brand slides from left */
.navbar-brand {
    opacity: 0;
    transform: translateX(-40px);
}

/* Nav links + buttons slide up */
.navbar-nav .nav-link,
.navbar-nav .btn {
    opacity: 0;
    transform: translateY(20px);
}

/* Wrapper cards slide up 
    this is for gsap, disabled for aos instead
*/
.system-wrapper .wrapper-card .card {
    opacity: 0;
    transform: translateY(50px);
}

.card-animate {
    opacity: 0;
    transform: translateY(50px);
}

/* Footer columns slide in from right */
.system-footer .row.p-2.align-items-end>div {
    opacity: 0;
    transform: translateX(50px);
}

/* Footer text slides in from right */
.system-footer .row.p-2.align-items-end span,
.system-footer .row.p-2.align-items-end h2 {
    opacity: 0;
    transform: translateX(30px);
}

.table>:not(caption)>*>* {
    padding: 0;
    padding-left: 3px;
    padding-right: 3px;
    background-color: transparent;
}

table.table.dataTable>:not(caption)>*>* {
    background-color: transparent;
}

table.dataTable>tbody>tr.child ul.dtr-details>li {
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 0px !important;
}

table.dataTable>tbody>tr.child span {
    padding-left: 3px !important;
    padding-right: 3px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

table.dataTable>tbody>tr.dt-hasChild.selected+tr.child ul.dtr-details {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    border-radius: 15px !important;
}

table.dataTable>tbody>tr.child span.dtr-title {
    font-weight: normal !important;
}

table.dataTable>tbody>tr.selected>* {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

tr.dt-hasChild+tr.child ul.dtr-details {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    border-radius: 15px !important;
}

[data-bs-theme="light"] .dtcc-button-icon svg {
    stroke: currentColor;
}

[data-bs-theme="dark"] .dtcc-button-icon svg {
    stroke: #efefef;
}

[data-bs-theme="dark"] .dtcc {
    --dtcc-button_hover-background: #efefef50;
}

[data-bs-theme="dark"] .dtcc-dropdown select,
.dtcc-dropdown input {
    --dtcc-search-input_background-color: transparent;
}

[data-bs-theme="dark"] select {
    color: #efefef;
    background-color: var(--bs-dark) !important;
}

[data-bs-theme="dark"] .dtcc-list-buttons {
    --dtcc-list-buttons_background: transparent;
}

[data-bs-theme="dark"] table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    border-left: 10px solid #ffffff80;
}

[data-bs-theme="dark"] table.dataTable.dtr-inline.collapsed>tbody>tr.dtr-expanded>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.dtr-expanded>th.dtr-control:before {
    border-top: 10px solid #ffffff80;
    border-left: 5px solid transparent;
}

[data-bs-theme="dark"] div.dt-datetime,
[data-bs-theme="dark"] div.dt-datetime table td.selectable {
    background-color: var(--bs-dark);
    color: #efefef;
}

[data-bs-theme="dark"] .dt-datetime-label:hover {
    color: var(--bs-dark);
}

[data-bs-theme="dark"] div.dt-datetime table td.selectable.now button {
    font-weight: bold;
    color: var(--bs-dark);
}

[data-bs-theme="dark"] .swal2-container {
    --swal2-dark-theme-black: #19191a;
    --swal2-dark-theme-white: #e1e1e1;
    --swal2-background: var(--swal2-dark-theme-black);
    --swal2-color: var(--swal2-dark-theme-white);
    --swal2-footer-border-color: #555;
    --swal2-input-background: color-mix(in srgb, var(--swal2-dark-theme-black), var(--swal2-dark-theme-white) 10%);
    --swal2-validation-message-background: color-mix(in srgb, var(--swal2-dark-theme-black), var(--swal2-dark-theme-white) 10%);
    --swal2-validation-message-color: var(--swal2-dark-theme-white);
    --swal2-timer-progress-bar-background: rgba(255, 255, 255, 0.7);
}

.toastui-editor-defaultUI-toolbar,
.toastui-editor-mode-switch,
.toastui-editor-mode-switch .tab-item,
.toastui-editor-ww-container,
.toastui-editor-md-code-block-line-background,
.toastui-editor-contents pre,
.toastui-editor-popup,
.toastui-editor-popup-add-table .toastui-editor-table-cell,
.toastui-editor-dropdown-toolbar  {
    background-color: var(--bs-body-bg) !important;
}

.toastui-editor-main-container {
    color: var(--bs-body-color) !important;
}

[data-bs-theme="dark"] .toastui-editor-main-container,
[data-bs-theme="dark"] .ProseMirror,
[data-bs-theme="dark"] .toastui-editor-contents p,
[data-bs-theme="dark"] .toastui-editor-contents h1,
[data-bs-theme="dark"] .toastui-editor-contents h2,
[data-bs-theme="dark"] .toastui-editor-contents h3,
[data-bs-theme="dark"] .toastui-editor-contents h4,
[data-bs-theme="dark"] .toastui-editor-contents h5,
[data-bs-theme="dark"] .toastui-editor-contents h6 {
    color: #efefef !important;
}

[data-bs-theme="dark"] .toastui-editor-contents table td,
[data-bs-theme="dark"] .toastui-editor-contents table th {
    color: #efefef !important;
    border: 1px solid #efefef !important;
}

[data-bs-theme="dark"] .toastui-editor-md-table span,
[data-bs-theme="dark"] .toastui-editor-table-selection,
[data-bs-theme="dark"] .toastui-editor-table-description,
[data-bs-theme="dark"] .toastui-editor-popup-add-image .toastui-editor-tabs .tab-item:not(.active) {
    color: #efefef !important;
}

.toastui-editor-contents table th {
    background-color: #1c5f89 !important;
}

.toastui-editor-defaultUI,
.ProseMirror,
.toastui-editor-contents {
    font-family: 'Poppins', Arial, sans-serif !important;
    font-size: 100% !important;
}

.toastui-editor-md-code,
.toastui-editor-md-code-block {
    font-family: 'Mono', Consolas, monospace !important;
}

[data-bs-theme="dark"] .toastui-editor-popup-body li:hover {
    color: #02080e;
}

[data-bs-theme="dark"] .toastui-editor-popup-body label,
[data-bs-theme="dark"] .toastui-editor-popup-add-image .toastui-editor-file-name.has-file,
[data-bs-theme="dark"] .toastui-editor-popup-body input[type=text] {
    color: #efefef !important;
}

[data-bs-theme="dark"] .toastui-editor-popup-add-image .toastui-editor-file-select-button,
[data-bs-theme="dark"] .toastui-editor-defaultUI .toastui-editor-close-button {
    background-color: var(--bs-body-bg) !important;
    color: #efefef !important;
}

.loading-overlay {
    position: absolute;
    /* now absolute covers the card only */
    padding: 0.5rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(121, 178, 201, 0.5);
    display: flex;
    justify-content: start;
    align-items: end;
    z-index: 99;
    /* above card content */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.loading-overlay.active {
    opacity: 1;
    pointer-events: all;
}

.modal {
    z-index: 1055;
    /* modal container */
}

.modal-backdrop {
    z-index: 1050;
    /* backdrop */
}

.modal-body {
    padding: 0;
}

.modal-header,
.modal-footer {
    padding: 0.25rem;
}

.modal-header {
    padding-right: 0.5rem;
}

.modal-xxl {
    width: 95vw;
    max-width: 95vw;
}

/* Overlay blur behind the modal */
.swal2-container.blur::before {
    content: '';
    position: fixed;
    inset: 0;
    backdrop-filter: blur(2px);
    z-index: 0;
    /* make sure it’s below the modal */
    pointer-events: none;
}

.modal.fade::before {
    content: '';
    position: fixed;
    inset: 0;
    backdrop-filter: blur(2px);
    z-index: 0;
    /* make sure it’s below the modal */
    pointer-events: none;
}

/* Make the modal content above the blur */
.swal2-popup {
    position: relative;
    z-index: 1;
    padding-bottom: 0.25rem;
}

.swal2-actions button {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-left: 0;
    margin-right: 0.25rem;
}

div:where(.swal2-icon) {
    margin-top: 0.75rem;
}

.invalid-tooltip {
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: var(--bs-form-invalid-color);
    background-color: none;
    border: none;
}

.floating-input-group {
    height: calc(3.5rem + calc(var(--bs-border-width) * 2));
    min-height: calc(3.5rem + calc(var(--bs-border-width) * 2));
    line-height: 1.25;
}

.custom-popover {
    --bs-popover-max-width: 200px;
    --bs-popover-body-padding-x: 0.25rem;
    --bs-popover-body-padding-y: 0.25rem;
    --bs-popover-header-font-size: 100%;
    --bs-popover-header-padding-x: 0.25rem;
    --bs-popover-header-padding-y: 0.25rem;
    --bs-popover-font-size: 80%;
}

.toast-swal-popup {
    padding: 0.75rem !important;
}

h2.toast-swal {
    margin-top: auto;
    margin-bottom: auto;
}

.glass-card {
    background-color: rgba(0, 45, 77, 0.35) !important;
}

/* .form-select {
    font-size: 0.9rem;
} breaks form control*/

@media (max-width: 768px) {
    .w-md-20 {
        width: 100% !important;
    }

    .w-md-20-element {
        width: 90% !important;
    }
}

.w-20 {
    width: 20%;
}

.small-90 {
    font-size: 90%;
}